* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: #FBFBFB;
    color: #505050;
    padding: 30px;
    max-width: 600px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 a {
  font-size: 14px;
  font-weight: 300;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
    background: #CECECE;
    padding-left: 3px;
    white-space: nowrap;
    margin-top: 2px;
}

.line small {
    color: #000;
    font-size: 14px;
}

.line.monkberry {
  background: #D6A8FF;
}

b {
    color: #000;
    font-weight: 600;
}

a {
    color: #7412CC;
}

a:hover {
  color: #9D58DC;
  text-decoration: none;
}
